[submodule "packages/ui"]
	path = packages/ui
	url = git@github.com:KotonoSora/nara-ui-library.git
	branch = release/1.0.0
[submodule "packages/qr-generator"]
	path = packages/qr-generator
	url = git@github.com:KotonoSora/nara-showcase-qr-generator.git
	branch = release/1.0.0
[submodule "packages/scheduler"]
	path = packages/scheduler
	url = git@github.com:KotonoSora/nara-scheduler.git
	branch = release/1.0.0
[submodule "packages/seo"]
	path = packages/seo
	url = git@github.com:KotonoSora/nara-seo.git
	branch = release/1.0.0
[submodule "packages/google-analytics"]
	path = packages/google-analytics
	url = git@github.com:KotonoSora/nara-google-analytics.git
	branch = release/1.0.0
[submodule "packages/forest"]
	path = packages/forest
	url = git@github.com:KotonoSora/nara-forest.git
	branch = release/1.0.0
