{
  "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "<TYPES>^[.]/.*[+]types",
    "",
    "<TYPES>",
    "",
    "<TYPES>^(node:)",
    "",
    "<TYPES>^[.]",
    "",
    "<TYPES>^[~]",
    "",
    "^(@)(/.*(?<![.]css.*)$)",
    "",
    "^(~)(/.*(?<![.]css.*)$)",
    "",
    "^(#)(/.*(?<![.]css.*)$)",
    "",
    "^[.](?!.*[.]css)",
    "",
    "^(?!.*[.]css$)[./].*$",
    "",
    "[.]css"
  ]
}
