# Ignore everything
**

# Allow specific files within root
!package.json
!vite.config.ts
!vitest.config.ts
!worker-configuration.d.ts
!wrangler.jsonc
!README.md
!CHANGELOG.md
!degit.json
!tsconfig.cloudflare.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!react-router.config.ts

# Allow folder .vscode
!.vscode/
!.vscode/*.code-snippets

# Allow folder source
!app/
!app/**
!workers/
!workers/**
# !docs/
# !docs/**
!database/
!database/**
!scripts/
!scripts/**
